.pagination a,strong {

  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #FF5252;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination{
  float: right !important ;
}
.pagination strong{
	z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #FF5252;
  border-color: #FF5252;
}