@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1199px){
.cap-area textarea{ width:100%;}
.process li{ width:22%; /*margin:0 4%;*/}
.process li:before{ width:31%; top:22%; left:-75px;}
.big-pic{ top:18%;}
.big-pic img{ width:78%;}
.pro-pic{ width:189px; height:189px;}
.left-box span b{ display:block;}
.change{right:7px; width:18%;}
.question{ background-size:100% 100%; width:70%;}

.chat .left-part{ width:28%;}
.chat .right-part{ width:71%;}
.bottom-area textarea{ width:90%;}
.button-part{ width:8%;}
.matchin{ width:69%;}
.match-form{ width:38%;}
}
@media screen and (max-width:1023px){
.general-area, .update-area{ width:700px;}
.cap-area textarea{ width:100%;}
.process li{ width:22%; /*margin:0 4%;*/}
.process li:before{ width:31%; top:22%; left:-55px;}
.big-pic{ top:21%;}
.big-pic img{ width:67%;}
.pro-pic{ width:147px; height:147px;}
.left-box{ width:100%;}
.left-box span{ margin-bottom:0px;}
.left-box span b, .pro-box h2, .left-part h2{ font-size:20px;}
.social a{ width:20%;}
.arrow-slide .flex-direction-nav .flex-prev{ left:-37px;}
.arrow-slide .flex-direction-nav .flex-next{ right:-37px;}
.land-title{font-size:58px;}
.land-title span{ display:inherit;}
body.landing{ background-position:bottom center;}
.chat-left li label{ font-size:16px; /*padding-left:10px;*/word-wrap: break-word;}
.title-part .chat-pic {
    width: 100px;
    height: 100px;
}
/*.button-part img{ width:25px;}*/
.match-left a{ margin:3px;}
.match-two .match-left{ width:100%; text-align:left;}
.match-right .matchin{ margin-top:00px;}

.subc{ width:90%;}

}

@media screen and (max-width:767px){
.general-area, .second-title, .update-area{ width:100%;}
.general-area{ padding:0 15px;}
.general-area label{ display:block; width:100%;}
.first-menu li{ margin-bottom:5px;}
.logo{ width:50%;}
.profile-icon {
    position: relative;
    top: auto;
    right: auto;
    display: block;
  margin:5px 0;
}
.profile-icon img{ width:50px;}
.header-area{  overflow:hidden;}

.list-area li{ padding:12px;}
.list-area li img{ width:50px; height:50px; vertical-align:top;}
.list-area li span{ padding-left:12px; font-size:17px;}
.list-area li label{ font-size:12px;}
.second-menu li, .first-menu li{ font-size:18px;}

.cap-img{ /*width:150px; height:150px;*/ display:block; margin:0 auto 20px auto;}
.cap-area textarea{ width:100%; display:block; margin-left:0;}
.process li{ display:block; width:80%; margin: 0px 0px 30px 16%;}
.process li:before{ background:none;}

.register{ width:100%;}
.big-pic{ display:none;}

.left-part, .right-part{ display:block; width:100%;}
.left-box{ padding:10px 10px 0 10px;}
.right-part{ border:none;}
.pro-pic{ margin-top:0;}
.land-logo{ text-align:center;}
.land-logo img{ width:auto; padding:10px 0;}
.land-logo .logo{ width:50%;}
.land-manu li{ margin:0 10px; font-size:20px;}
.land-manu{ text-align:center;}
.header-landing{ background:rgba(202, 202, 202, 0.5);}
.land-title{ font-size:25px;}
.question a.yes-butt{ margin:0 4px;}
.question2{ padding:55px 26px;}

.chat .left-part, .chat .right-part{ width:100%; float:none;}
.chat .left-part{ margin-top:20px;}

.match-left{ width:100%; text-align:center;}

.qadrive{ width:90%;}
.butt-pink{ width:48%;}
.qadrive-pic{ width:180px; height:180px;}
.subc1 ul li:nth-child(3){ width:29%;}
 .chat-left li label {
    font-size: 20px;
    padding-top: 20px;
  }
  .chat-pic span
  {
    right: 26px;
  }
}

@media screen and (max-width:600px){
.choose-img{ width:150px; height:150px;}
.chose-pic{ width:auto;}
.chose-pic .button{ font-size:18px; padding:0 10px;}
.chose-pic .button span{ width:39px; padding-right:10px;}
.almost{ font-size:20px;}
.almost span{ font-size:16px;}
.title2{ font-size:20px; width:100%;}
.form-part input{ width:80%;}
.process li{ width:60%;}
.header-area{ min-height:inherit;}
.submit{ width:134px; height:38px; line-height:38px; font-size:22px;}
.arrow-slide .flex-direction-nav .flex-prev{ left:-17px;}
.arrow-slide .flex-direction-nav .flex-next{ right:-17px;}
.land-logo .logo{ width:80%;}
.match-form{ width:100%; margin-bottom:5px;}
.match-two .match-left{ text-align:center;}
.matc-pro li, .butt-pink{ width:100%;}
.butt-pink{ font-size:16px;}

.subc1 ul li{ display:inline-block; text-align:left!important;/* width:100%; */margin:10px 0;}
.subc1{ padding:15px;}
.sneak li{ margin:10px auto; display:block; text-align:center;}
.title3{ /*width:300px;*/ font-size:22px;}
.title3:before, .title3:after{ background:none;}
 .chat-left li label {
    font-size: 20px;
    padding-top: 20px;
  }
  .chat-pic span
  {
    right: 26px;
  }

}
@media screen and (max-width:500px){
  .next{   margin-left: 40%; 
       height: 25px;
           line-height: 35px;
           font-size: 12px;
       box-shadow: 1px 1px 20px #000000;
          border-radius: 3px;}
           .chat-left li label {
    font-size: 20px;
    padding-top: 20px;
  }
  .chat-pic span
  {
    right: 8px;
  }
  }