#scrollbar1, #scrollbar2
{
    width:91%;
    margin:10px 10px 0;
    position: relative;
}

#scrollbar2{width:97%;}

#scrollbar1 .viewport, #scrollbar2 .viewport
{
    height: 500px;
    overflow:hidden;
    position:relative;
    /*background: #dedede;*/
}

#scrollbar2 .viewport{ height:302px; margin:20px 40px;}

#scrollbar1 .overview, #scrollbar2 .overview
{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    /*padding: 10px 20px;*/
}
#scrollbar2 .overview{ width:100%;}

#scrollbar1 .scrollbar, #scrollbar2 .scrollbar
{
   /* background:transparent url(../images/bg-scrollbar-track-y.png) no-repeat 0 0;*/
    position:absolute;
    background-position:0 0;
    right: -20px;
    top:0;
    width:15px;
}

#scrollbar1 .track, #scrollbar2 .track
{
    /*background:transparent url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
    height:100%;
    width:13px;
    position:relative;
    padding:0 1px;
}

#scrollbar1 .thumb, #scrollbar2 .thumb
{
    background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
    height:20px;
    width:25px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:-5px;
}

#scrollbar1 .thumb .end, #scrollbar2 .thumb .end
{
    background:transparent url(../images/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
    overflow:hidden;
    height:5px;
    width:25px;
}

#scrollbar1 .disable, #scrollbar2 .disable
{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}


@media screen and (max-width:1023px){
#scrollbar1 .viewport{ height:400px;}
}

@media screen and (max-width:767px){
#scrollbar2 .viewport{ margin:5px;}
#scrollbar2{ margin:0;}
#scrollbar2 .chat-arae li{ width:95%; padding:10px; font-size:14px;}
.bottom-area textarea{ padding:10px; font-size:16px;}
.bottom-area textarea, .button-part{ width:100%;}
.button-part{ margin-top:10px; text-align:center;}
}