.testimonial-section
{
	position: relative;
	margin-top: 20px;
	margin-bottom: 60px;
	border: 5px solid #ff5252;
	padding-top: 20px;
	padding-bottom: 29px;
}
.testimonial-section img
{
	margin-top: -70px;
	box-shadow: 2px 2px 20px 1px #abaaaa;
	width: 209px;
}
.testimonial-section p
{
	margin-top: 20px;
}
.panel-title a:focus,.panel-title a:hover
{
	color: #fff !important;
}